# Ignore local files and folders
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
pnpm-lock.yaml
.env
.env.local
.env.*.local
.vercel/
.vscode/
node_modules/
coverage/
*.tmp
*.log
